<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiu.dao.ProductBrandDao"> <!--扫描到的包路径-->
    <!--通过ID查询-->
    <select id="selectById" resultType="ProductBrand" parameterType="Integer">
        select brand_id, brand_name, brand_describe from product_brand where brand_id = #{brandId};
    </select>

    <!--查询所有-->
    <select id="selectAll" resultType="ProductBrand">
        select brand_id, brand_name, brand_describe from product_brand;
    </select>

    <!--判断 商品品牌 是否存在-->
    <select id="existsWithBrandName" resultType="Boolean">
        select count(brand_name) from product_brand where brand_id !=#{brandId} and brand_name = #{brandName};
    </select>

    <!--查询所有品牌名-->
    <select id="selectAllName" resultType="String">
        select brand_name from product_brand;
    </select>

    <!--插入一条数据-->
    <insert id="insertData" parameterType="ProductBrand">
        insert into product_brand (brand_id, brand_name, brand_describe) values (#{brandId},#{brandName},#{brandDescribe});
    </insert>

    <!--通过ID更新-->
    <update id="updateById" parameterType="ProductBrand">
        update product_brand
        <set>
            <if test="brandId != null">
                brand_name = #{brandName},
            </if>
            <if test="brandDescribe != null">
                brand_describe = #{brandDescribe},
            </if>
        </set>
        where brand_id = #{brandId};
    </update>

    <!--通过ID删除-->
    <delete id="deleteById" parameterType="Integer">
        delete from product_brand where brand_id = #{brandId};
    </delete>

    <!--通过分类名删除-->
    <delete id="deleteByName" parameterType="String">
        delete from product_brand where brand_name = #{brandName};
    </delete>
</mapper>