<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <title>花卷买卖</title>
</head>
<body style="font-size: 13px">
<div class="main" style="padding-bottom:40px;background-color:#F1F1F1;">
    <div class="header" style="padding: 10px 3%">
        <h2 style="text-align:center;color: #FF6633">
                花卷买卖
        </h2>
    </div>

    <div class="content" style="overflow: hidden;padding:15px 5% 70px 5%;margin:0 2%;background-color: #fff;box-shadow:0 4px 20px rgba(0,0,0,0.1);word-break: break-all;">
        <p style="font-weight: bolder;margin-bottom: 5px;">尊敬的花卷用户，您好：</p>
        <p style="margin-bottom: 30px;text-indent: 2em">请使用下面的验证码验证您的操作，验证码 10 分钟内有效: <a href="javascirpt:void(0)" onclick="return false;" th:text="${code}">602510</a></p>
    </div>
</div>
<div class="footer" style="padding:7px 20px;background-color:#333;font-size:12px;color: #999;text-align: center">
    <p content="telephone=no">Copyright&nbsp;©&nbsp;2020&nbsp;-&nbsp;<span th:text="${year}">2020</span>&nbsp;&nbsp;花卷买卖公司&nbsp;版权所有</p>
</div>
</body>
</html>