<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiu.dao.BannerDao">
    <!--通过ID查询-->
    <select id="selectById" resultType="Banner" parameterType="Integer">
        select banner_id, product_name, product_url, banner_url
        from banner
        where banner_id = #{bannerId};
    </select>

    <!--查询所有-->
    <select id="selectAll" resultType="Banner">
        select banner_id, product_name, product_url, banner_url
        from banner;
    </select>

    <!--插入一条数据-->
    <insert id="insertData" parameterType="Banner">
        insert into banner (banner_id, product_name, product_url, banner_url)
        values (#{bannerId}, #{productName}, #{productUrl}, #{bannerUrl});
    </insert>

    <!--通过ID更新-->
    <update id="updateById" parameterType="Banner">
        update banner
        <set>
            <if test="productName != null">
                product_name = #{productName},
            </if>
            <if test="productUrl != null">
                product_url = #{productUrl},
            </if>
            <if test="bannerUrl != null">
                banner_url = #{bannerUrl},
            </if>
        </set>
        where banner_id = #{bannerId};
    </update>

    <!--通过ID删除-->
    <delete id="deleteById" parameterType="Integer">
        delete
        from banner
        where banner_id = #{bannerId};
    </delete>
</mapper>