<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiu.dao.PurchaseDao">
    <!--通过ID查询-->
    <select id="selectById" resultType="Purchase" parameterType="Integer">
        select purchase_id,
               purchase_no,
               purchase_number,
               purchase_time,
               receipt_time,
               product_no,
               product_name,
               supplier_no,
               supplier_name,
               account_number,
               user_name,
               receipt_status
        from purchase
        where purchase_id = #{purchaseId};;
    </select>

    <!--查询所有-->
    <select id="selectAll" resultType="Purchase">
        select purchase_id,
               purchase_no,
               purchase_number,
               purchase_time,
               receipt_time,
               product_no,
               product_name,
               supplier_no,
               supplier_name,
               account_number,
               user_name,
               receipt_status
        from purchase
        order by receipt_status, purchase_time;
    </select>


    <!--判断 采购编号 是否存在-->
    <select id="existsWithPrimaryKey" resultType="Boolean" parameterType="String">
        select count(purchase_no)
        from purchase
        where purchase_no = #{key};
    </select>


    <!--插入一条数据-->
    <insert id="insertData" parameterType="Purchase">
        insert into purchase (purchase_id, purchase_no, purchase_number, purchase_time, receipt_time, product_no,
                              product_name, supplier_no, supplier_name, account_number, user_name, receipt_status)
        values (#{purchaseId}, #{purchaseNo}, #{purchaseNumber}, #{purchaseTime}, #{receiptTime}, #{productNo},
                #{productName}, #{supplierNo}, #{supplierName}, #{accountNumber}, #{userName}, #{receiptStatus});
    </insert>

    <!--通过ID更新-->
    <update id="updateById" parameterType="Purchase">
        update purchase
        <set>
            <if test="receiptTime != null">
                receipt_time = #{receiptTime},
            </if>
            <if test="receiptStatus != null">
                receipt_status = #{receiptStatus},
            </if>
        </set>
        where purchase_id=#{purchaseId};
    </update>

    <!--通过ID删除-->
    <delete id="deleteById" parameterType="Integer">
        delete
        from purchase
        where purchase_id = #{purchaseId};
    </delete>
</mapper>