<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiu.dao.SupplierDao"> <!--扫描到的包路径-->
    <!--通过ID查询-->
    <select id="selectById" resultType="Supplier" parameterType="Integer">
        select supplier_id, supplier_no, supplier_name, product_type, principal, contact_way, status from supplier where supplier_id=#{supplierId};
    </select>

    <!--查询所有-->
    <select id="selectAll" resultType="Supplier">
        select supplier_id, supplier_no, supplier_name, product_type, principal, contact_way, status from supplier;
    </select>

    <!--查询所有启用的供应商-->
    <select id="selectAllUsable" resultType="Supplier">
        select supplier_id, supplier_no, supplier_name, product_type, principal, contact_way, status from supplier where status;
    </select>

    <!--查询所有供应商名称-->
    <select id="selectAllName" resultType="String">
        select supplier_name from supplier
    </select>


    <!--判断 供应商 是否存在-->
    <select id="existsWithSupplierName" resultType="Boolean" >
        select count(supplier_name) from supplier where supplier_id != #{supplierId} and supplier_name = #{supplierName};
    </select>

    <!--插入一条数据-->
    <insert id="insertData" parameterType="Supplier">
        insert into supplier (supplier_id, supplier_no, supplier_name, product_type, principal, contact_way,status)
        values (#{supplierId},#{supplierNo},#{supplierName},#{productType},#{principal},#{contactWay},#{status});
    </insert>

    <!--通过ID更新-->
    <update id="updateById" parameterType="Supplier">
        update supplier
        <set>
            <if test="supplierName != null">
                supplier_name = #{supplierName},
            </if>
            <if test="productType != null">
                product_type = #{productType},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="principal != null">
                principal = #{principal},
            </if>
            <if test="contactWay != null">
                contact_way = #{contactWay},
            </if>

        </set>
        where  supplier_id=#{supplierId};
    </update>

    <!--通过ID删除-->
    <delete id="deleteById" parameterType="Integer">
        delete from supplier where supplier_id=#{supplierId};
    </delete>

</mapper>